html {
	font-size: 100%;
	overflow: auto;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 1em Helvetica, Arial, sans-serif;
	color: #333;
}


ul {
	margin: 0;
	padding: 0;
}

.center {
	text-align: center;
}

.transition {
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

.ulno {
	list-style: none;
	display: inline-block;
}

.ulno li {
	display: inline-block;
	vertical-align: top;
}

.none {
	display: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	color:#1096D5
}

a:active,a:hover {
	outline: 0;
	text-decoration:underline
}

a img {
	outline: 0;
	border: 0;
}


.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

strong,b,.bold {
	font-weight: 700;
}

/* HEADER */
header {
	width:100%;
	height:auto;
	border-top:3px solid #D14836;
	border-bottom:2px solid #e1e1e1;
	}

header a:hover {
	text-decoration:none;
}

#logo {
	display:inline-block;
	width:auto;
	height:50px;
	background:url('../IMG/logo.png') no-repeat 0 0;
	padding-left:70px;
	line-height:50px;
	color:#333;
	font-size:.9em;
	font-weight:normal
	}

#logo:hover {
	opacity:.85
	}

.wr {
	width:90%;
	min-width:900px;
	max-width:1100px;
	margin:0 auto;
	}

/* NAV */
nav {
	position:absolute;
	top:42px;
	margin-left:300px
	}

nav li {
	margin-left:25px
	}

nav a {
	color:#333;
	}

nav a:hover {
	color:#D14836
	}

nav i {
	margin-left:5px;
	}

nav .selected {
	color:#D14836;
}

#subnav {
	float:right;
	width:auto;
	margin:-93px 1% 0 0;
	text-align:center;
	background-color:#f3f3f3;
	font-size:.7em;
	}

#subnav a {
	color:#777;
	text-transform:uppercase
	}

#subnav li a{
	padding:6px 25px;
	display:inline-block;
	border-left:1px solid #dadada;
	}

#subnav li:first-child a{
	border-left:0
	}

#subnav li a:hover, #subnav .selected {
	background-color:#f7f7f7
	}


/* BANNER */
.banner {
	width:100%;
	height:400px;
	margin-bottom:20px;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	}

.home.banner {
	margin-bottom:0
	}

.banner h1 {
	margin: 0 auto;
	color:#fff;
	font-size:inherit;
	}

.home h1 {
	padding-top:55px;
	text-align:center;
	font-size:4.1em;
	}

.home h4 {
	text-align:center;
	margin:7px 0 0;
	padding:0;
	font-size:16px;
	font-weight:normal;
	color:#fff
}

.home h4 span {
	font-size:12px;
	vertical-align:top;
	color:#f3f3f3
}

.home h4 a {
	display:inline-block;
	font-size:12px;
	border:1px solid #fff;
	margin-left:5px;
	vertical-align:middle;
	line-height:16px;
	padding:0 3px;
	color:#fff;
	border-radius:3px
	}

.home h4 a:hover {
	text-decoration:none;
	background:#fff;
	color:#adcbc9
}

.beta .left, #help .right {
	font-size:4em;
	font-weight:700;
	overflow:hidden;
	color:#fff
	}

.beta .left {
	width:57%;
	margin-top:90px;
}

#help .right {
	width:40%;
	margin-top:80px;
}

.beta .right {
	width:40%;
	margin-top:120px
	}

.banner #download {
	display:block;
	height:auto;
	padding:20px;
	color:#fff;
	margin:40px auto 0;
	box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0;
	border-radius:1px;
	line-height:1.45em;
	width:270px;
	}

.home #download {
	background-color:#D14836;
	margin-top:50px;
}

.beta #download {
	background-color:#fab000;
}

#download:hover {
	text-decoration:none;
	opacity:.9;
	box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 0;
	}

.t {
margin-left:55px;
display:inline-block
}

#download .details {
font-size:0.85em;
color:#f7f7f7
}

#download i{
	position:absolute;
	font-size:2.6em;
	margin-top:3px
	}

.home {
background:url('../IMG/home.jpg') #eee no-repeat top center;
}

#help {
background:url('../IMG/help.jpg') #eee no-repeat bottom center;
}

.beta {
background:url('../IMG/beta.jpg') #eee no-repeat bottom center;
}

#vid {
	margin:30px 0 0;
	width:60%;
	max-width:580px;
	height:325px;
	text-align:center;
	padding-top:10px;
	background:#000;
	border-radius:4px;
	overflow:hidden
	}

#vid iframe {
	border:0
	}

/* PRESS */
.press {
	background-color:#eee;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e5e5e5), to(#fff));
	background: -webkit-linear-gradient(top, #e5e5e5, #fff);
	background: -moz-linear-gradient(top, #e5e5e5, #fff);
	background: -ms-linear-gradient(top, #e5e5e5, #fff);
	background: -o-linear-gradient(top, #e5e5e5, #fff);
	border-top:2px solid #e1e1e1;
	height:165px;
	width:100%;
	margin-bottom:-10px;
	}

.press ul {
	padding:22px 0 0;
	}

.press li {
	margin-left:6%;
	width:20%
	}

.press li:first-child,#share li:first-child {
	margin:0
	}

.press i {
	margin:0 6px;
	font-size:.8em;
	color:#bbb;
	vertical-align:top;
	white-space:nowrap;
	}

.press span {
	color:#666;
	font-style:italic;
	font-size:1em;
	line-height:1.45em
}

.press a span {
	color:#888;
}

.press a{
	display:block;
	margin:7px 12px 0 0;
	text-align:right
	}
/* MAIN */

.main {
	margin:0 auto 30px
	}

.main.wr {
	font-size:.85em;
	clear:both;
	width:88%;
	max-width:1070px;
	}

.main p {
	line-height:1.5em
	}

#about {
	padding-top:10px
	}

#share {
	text-align:center;
	margin:0 auto;
	}

#share ul {
	display:inline-block;
	list-style:none;
	width:100%
	}

#share li {
	display:inline-block;
	vertical-align:top;
	margin-left:3%
	}

.fb {
	width:94px;
	text-align:left
	}

.main h2 {
	font-weight:normal
	}

.main hr {
	width:50%;
	height:1px;
	margin:40px auto 0;
	background:#e5e5e5;
	border:0;
	}

.main hr.first {
	margin:25px auto 0;
	}

#config span {
	color:#999;
	background-color:#f1f1f1;
	display:inline-block;
	padding:0 4px;
	font-size:.85em
	}

#features h2 i, #privacy i, #support i, #changelog i, #configuration i {
	display:inline-block;
	margin:0 10px 0 -40px;
	width:22px;
	height:22px;
	text-align:center;
	line-height:22px;
	padding:3px;
	font-size:.85em;
	border-radius:22px
	}

#features h2 i {
	background:#fff;
	color:#ccc;
	}

#privacy i,#privacy i, #support i, #changelog i, #config i, #configuration i {
	background:#f1f1f1;
	color:#aaa;
	}
/* FEATURES */

#features {
	width:100%;
	background-color:#f7f7f7;
	margin:40px auto;
	padding:25px 0
	}

#features .wr {
    margin:0 auto;
    }

#features section {
    clear: both;
    padding: 30px 0;
    vertical-align: top;
}

#features section.first {
    margin-top: 0;
    padding-top:0
}

#features section div:nth-child(odd) {
    margin-left: 30px;
}

#features .desc {
    width:62%;
	max-width:750px;
    display: inline-block;
    vertical-align: middle;
    line-height: 23px;
}

#features .desc.desc0 {
    width: 100%;
}

#features .thumb {
    width: 300px;
    display: inline-block;
    border-radius: 2px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    box-shadow: 4px 4px 4px #ddd;
    vertical-align: middle;
    overflow: hidden;
}

#gads {
    background: url(../IMG/global.png) transparent no-repeat 0 0;
    height: 180px;
}

#gheader {
    background: url(../IMG/global.png) transparent no-repeat 0 -193px;
    height: 110px;
}

#goldcompose {
    background: url(../IMG/global.png) transparent no-repeat 0 -1425px;
    height: 155px;
}

#gprint {
    background: url(../IMG/global.png) transparent no-repeat 0 -1593px;
    height: 110px;
}

#gpeople {
    background: url(../IMG/global.png) transparent no-repeat 0 -310px;
    height: 163px;
}

#gnav {
    background: url(../IMG/global.png) transparent no-repeat 0 -495px;
    height: 110px;
}

#ghover {
    background: url(../IMG/global.png) transparent no-repeat 0 -621px;
    height: 135px;
}

#gfonts {
    background: url(../IMG/global.png) transparent no-repeat 0 -768px;
    height: 170px;
}

#attach {
    background: url(../IMG/global.png) transparent no-repeat 0 -946px;
    height: 80px;
}

#gconsider {
    background: url(../IMG/global.png) transparent no-repeat 0 -1040px;
    height: 130px;
}

#logo-click {
    background: url(../IMG/global.png) transparent no-repeat 0 -1182px;
    height: 110px;
}

#backto {
    background: url(../IMG/global.png) transparent no-repeat 0 -1304px;
    height: 110px;
}

#labels-inbox {
    background: url(../IMG/global.png) transparent no-repeat 0 -2220px;
    height: 120px;
}

#attach-inbox {
    background: url(../IMG/global.png) transparent no-repeat 0 -2362px;
    height: 128px;
}

#deobfuscate {
    background: url(../IMG/global.png) transparent no-repeat 0 -2504px;
    height: 135px;
}

/* DONATE */

#don-txt {
	width:56%
	}

#donate {
	width:33%;
	min-width:240px;
	margin:15px auto 0;
	background-color:#1096D5;
	color:#fff;
	padding:1.5% 3%;
	}

#donate input, #donate select {
	border:0;
	height:30px;
	line-height:30px;
	padding:0 5px;
	color:#555;
	background:#fff;
	vertical-align:top
	}

#donate input.text {
	width:65px;
	height:30px;
	text-align:center
	}

#donate .button {
	text-transform:uppercase;
	cursor:pointer;
	font-size:.9em;
	font-weight:700;
	background:orange;
	color:#fff;
	}

#donate .button:hover {
	opacity:.85
} 

.pay{
	font-size:.85em;
	}
	

/* FOOTER */
#footer {
	background-color:#f1f1f1;
	border-top:3px solid #dadada;
	border-bottom:10px solid #D14836;
	padding:30px 0;
	margin-top:4%;
	clear:both
	}

#footer .ulno {
	width:100%
	}

#footer .ulno li {
	vertical-align:top
	}

#footer .copyright {
	text-transform:uppercase;
	font-size:11px;
	width:320px;
	color:#999;
	margin:0 12% 0 1%;
	line-height:18px;
	}

.copyright .go {
	display:block;
	color:#c5c5c5
	}

#footer h5 {
padding:0 0 10px;
margin:0
}

#footer .nav-foot{
	width:17%
	}

#footer .sn li{
	display:block;
	}

#footer .sn a{
	color:#555;
	font-size:.8em
	}

/* ADS */
.gmelius-new { height: 90px;margin:30px auto 0;text-align:center;border:0;width:100%; }

/* SCROLLBARS */
::-webkit-scrollbar {
	width: 9px;
	height: 9px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #e1e1e1;
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ccc
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: #fff;
}

